.custom-hightable {
  --hy-color-1: #000;
  --hy-color-2: #444;
  --hy-color-3: #666;
  --hy-color-5: #bbb;
  --hy-color-7: #ccc;
  --hy-color-8: #ddd;
  --hy-color-9: #f0f0f0;
  --hy-color-10: #fff;

  --hy-accent-1: #706fb1;
  --hy-accent-2: #9d9cd5;
  --hy-accent-3: #ccd;
  --hy-accent-4: #dbdbe5;
  --hy-accent-5: #efeef6;

  --hy-highlight-1: lightyellow;
  --hy-highlight-2: yellow;

  --header-color: hsl(0, 100%, 27%);
  --menu-color: var(--hy-color-2);
  --menu-item-color: var(--hy-color-2);
  --menu-button-color: var(--hy-color-2);
  --primary-sort-icon-color: inherit;
  --secondary-sort-icon-color: var(--hy-color-8);
  --row-number-color: var(--hy-color-1);
  --text-color: var(--hy-color-1);

  --focus-background-color: var(--hy-accent-5);
  --focusable-background-color: var(--hy-color-9);
  --background-color: var(--hy-color-10);
  --header-background-color: lightblue;
  --menu-background-color: var(--hy-color-9);
  --menu-button-background-color: var(--hy-color-9);
  --menu-button-hovered-background-color: var(--hy-accent-4);
  --menu-button-focused-background-color: var(--hy-accent-4);
  --menu-item-background-color: var(--hy-color-10);
  --menu-item-hovered-background-color: var(--hy-color-9);
  --row-number-background-color: lightgreen;
  --row-number-hovered-background-color: var(--hy-accent-3);
  --row-number-selected-background-color: var(--hy-highlight-1);
  --row-hovered-background-color: var(--hy-accent-4);
  --row-selected-background-color: var(--hy-highlight-2);
  --corner-cell-background-color: lightgreen;
  --resize-indicator-background-color: var(--hy-accent-2);

  --top-border-color: var(--hy-accent-1);
  --focus-border-color: var(--hy-accent-1);
  --focusable-border-color: var(--hy-color-3);
  --cell-border-color: lightcoral;
  --cell-hovered-right-border-color: var(--hy-color-5);
  --header-bottom-border-color: var(--hy-color-7);
  --menu-border-color: var(--hy-color-7);
  --menu-inner-border-color: var(--hy-color-7);
  --resizer-hovered-right-border-color: var(--hy-accent-2);
  --row-number-hovered-right-border-color: var(--hy-color-7);
  --corner-cell-right-border-color: var(--hy-color-7);

  thead th {
    font-family: mono;
  }
}
