.custom-hightable {
  --mock-row-label-background: lightcoral;
  --border-color: lightcoral;
  --sort-indicator-background: transparent;
  --header-background-color: lightblue;
  --row-label-background: lightgreen;
  --row-label-color: black;
  --selected-row-background: lightyellow;
  --selected-row-header-background: lightcoral;
  --resizer-color: lightcoral;
  --table-corner-logo-background: lightcoral;
  --top-bar-background-color: lightcoral;
  --table-corner-background: lightcoral;
}

.custom-hightable thead th {
  background-color: var(--header-background-color);
  border-bottom: 2px solid var(--border-color);
  color: hsl(0, 100%, 27%);
  font-family: mono;
}

.custom-hightable thead th[aria-sort="ascending"]::after,
.custom-hightable thead th[aria-sort="descending"]::after {
  background-color: var(--sort-indicator-background);
}

/* cells */
.custom-hightable th,
.custom-hightable td {
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

/* column resize */
.custom-hightable thead [role="separator"] {
  border-right: 1px solid var(--border-color);
}
.custom-hightable thead [role="separator"]:hover {
  background-color: var(--resizer-color);
}

/* row numbers */
.custom-hightable tbody [role="rowheader"] {
  background-color: var(--row-label-background);
  border-right: 1px solid var(--border-color);
  color: var(--row-label-color);
}
/* highlight the selected rows */
.custom-hightable tr[aria-selected="true"] {
  background-color: var(--selected-row-background);
}
.custom-hightable tr[aria-selected="true"] [role="rowheader"] {
  background-color: var(--selected-row-header-background);
}

/* table corner */
/* TODO: find a better selector for the table corner */
.custom-hightable thead td:first-child {
  background-color: var(--table-corner-logo-background);
  border-right: 1px solid var(--border-color);
}
.custom-hightable thead td:first-child[aria-disabled="false"] {
  background: var(
    --table-corner-background
  ); /* redundant with td:first-child, but allows to force the background if it has been overridden with a logo */
}

/* pending table state */
.custom-hightable thead th::before {
  background-color: var(--top-bar-background-color);
}
