* {
  box-sizing: border-box;
  font-family: "Mulish", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
}

button {
  background-color: transparent;
  border: 1px solid #666;
  color: #222;
  border-radius: 8px;
  padding: 0 8px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}
button:active,
button:focus,
button:hover {
  background-color: #eee;
}

/* sidebar */
nav.sidebar {
  height: 100vh;
  width: 48px;
  height: 100vh;
}
nav.sidebar > div {
  background-image: linear-gradient(to bottom, #f2f2f2, #e4e4e4);
  box-shadow: 0 0 6px rgba(10, 10, 10, 0.4);
  height: 100vh;
  position: absolute;
  width: 48px;
  z-index: 30;
}
/* brand logo */
.brand {
  align-items: center;
  color: #111;
  display: flex;
  filter: drop-shadow(0 0 2px #bbb);
  font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  opacity: 0.9;
  padding: 10px 12px;
  text-decoration: none;
  text-orientation: mixed;
  user-select: none;
  writing-mode: vertical-rl;
}
.brand:hover {
  color: #111;
  filter: drop-shadow(0 0 2px #afa6b9);
  opacity: 1;
  text-decoration: none;
}
.brand::before {
  content: "";
  background: url(logo.svg) no-repeat 0 center;
  background-size: 26px;
  height: 26px;
  width: 26px;
  margin-bottom: 10px;
}

#app {
  height: 100vh;
  display: flex;
  flex: 1;
}

.layout {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* Top bar */
.topbar {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
  display: flex;
  width: 100%;

  padding: 0.5em;
  position: sticky;
  top: 0;
  z-index: 10;
  gap: 1em;
}
.topbar .title {
  color: #444;
  font-weight: bold;
  margin-right: 10px;
}
.topbar .link {
  color: #888;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.topbar .link:active,
.topbar .link:focus,
.topbar .link:hover {
  color: #556;
}

.topbar .link.active {
  color: #556;
  text-decoration: underline;
}

.content {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content section {
  margin: 1em;
  display: flex;
  gap: 0.5em;
}

thead td:first-child {
  align-items: center;
  background: url("https://hyperparam.app/assets/table/hightable.svg") #f9f4ff
    no-repeat center 6px;

  /* TODO: move to hightable? */
  &[aria-checked="true"] {
    background: revert;
  }
}
