name: Launch CI jobs for a package or app
on:
  workflow_call:
    inputs:
      workspace:
        required: true
        type: string
jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.workspace }}
    steps:
      - uses: actions/checkout@v6
      - run: npm i
      - run: npm run lint
  
  typecheck:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.workspace }}
    steps:
      - uses: actions/checkout@v6
      - run: npm i
      - run: npm run typecheck
  
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.workspace }}
    steps:
      - uses: actions/checkout@v6
      - run: npm i
      - run: npm run coverage
  
  buildcheck:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.workspace }}
    steps:
      - uses: actions/checkout@v6
      - run: npm i
      - run: npm run build
